.cocktail-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  background-color: hsl(from var(--offset-col) h s l / 50%);
  color: var(--primary-font-col);
  gap: 0.8rem;

  .cocktail-details__category {
    border: 2px solid var(--bg-col);
    border-radius: 8px;
    padding: 0.6rem 0.8rem;
    align-self: flex-start;
  }
}
