@import url("./App.css");
@import url("./CocktailCard.css");
@import url("./CocktailDetails.css");
@import url("./ErrorPage.css");
@import url("./FavoriteButton.css");
@import url("./Header.css");
@import url("./ListIngredients.css");
@import url("./ListResults.css");
@import url("./ListTags.css");
@import url("./Search.css");
@import url("./SearchPage.css");
@import url("./Pagination.css");

:root {
  --bg-col: #242424;
  --primary-font-col: #fde38c;
  --offset-font-col: #fff0c0;
  --button-bg-col: bisque;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-col);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-font-col);
  text-decoration: inherit;
  transition: all 0.3s ease-out;

  &:hover {
    color: var(--offset-font-col);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  background-color: var(--button-bg-col);
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: black;
  }
}