@import url("./App.css");
@import url("./CocktailCard.css");
@import url("./CocktailDetails.css");
@import url("./CocktailInfo.css");
@import url("./CocktailInfoPage.css");
@import url("./FavoriteButton.css");
@import url("./Header.css");
@import url("./IngredientDescription.css");
@import url("./IngredientInfo.css");
@import url("./IngredientPage.css");
@import url("./InfiniteScroll.css");
@import url("./ListIngredients.css");
@import url("./ListResults.css");
@import url("./ListTags.css");
@import url("./Pagination.css");
@import url("./ScrollToTop.css");
@import url("./Search.css");
@import url("./SearchPage.css");
@import url("./utility.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-col: #282422;
  --bg-offset-col: #403A36;
  --primary-font-col: #EAEAEA;
  --offset-col: #C1AE92;
  --button-bg-col: #121212;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-col);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-font-col);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: relative;
}

a {
  font-weight: 400;
  color: var(--primary-font-col);
  text-decoration: inherit;
  transition: all 0.3s ease-out;

  &:hover {
    color: var(--offset-col);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  background-color: var(--button-bg-col);
  color: var(--primary-font-col);
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    background-color: black;
  }
}