.ingredient-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  position: sticky;
  top: 2rem;

  .ingredient-info__container {
    border: 1px solid var(--bg-offset-col);
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    justify-items: center;
    gap: 1rem;

    .ingredient-info__wrapper {
      display: flex;
      gap: 0.4rem;
    }
  }
}