.cocktail-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .cocktail-tag {
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    background-color: var(--button-bg-col);
    font-weight: 600;
    text-transform: uppercase;
  }
}