.loading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .loading-icon {
    border: 8px solid rgba(214, 214, 214, 0.5);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    mask: 
      conic-gradient(transparent 10%, white),
      radial-gradient(farthest-side,white 94%, transparent) top/8px 8px no-repeat;
    animation: spin 1s infinite linear;
  }

}

@keyframes spin {
  100% {transform: rotate(1turn)}
}