.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  
  button {

    border: 1px solid var(--button-bg-col);
    background-color: #00000000;
    color: white;
    font-weight: 600;
    
    &.activePage {
      background-color: var(--button-bg-col);
      color: black;
    }

    &:hover {
      background-color: rgba(255, 222, 192, 0.5);
    }
  }
}