.scroll-to-top {
  --size: 4rem;
  --bottom-shown: 6rem;
  --bottom-hidden: -5rem;

  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-col);

  border: 4px solid var(--offset-col);
  border-radius: 50%;
  background-color: var(--button-bg-col);
  padding: 1rem;
  position: fixed;
  left: calc(50% - (var(--size) / 2));
  bottom: var(--bottom-hidden);
  transition: bottom 0.3s ease-out;

  cursor: pointer;

  box-shadow: 0 0 8px black;
}

.slide-in {
  bottom: var(--bottom-shown);
}
